@import "./components/avatar.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #818cf8;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
}

.main-section {
  height: calc(100vh - 50px);
}

.left-side-menu {
  width: 20%;
  border: solid 1px;
  height: calc(100vh - 50px);
}

li {
  list-style-type: none;
}

.avatar-section {
  width: 80%;
  position: absolute;
  left: 20%;
  padding: 20px;
}
