<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar</title>
    <link rel="stylesheet" href="./avatar.css" />
  </head>

  <body>
    <!-- Avatar Section -->

    <h1>Avatar</h1>
    <div class="avatar-sizes">
      <img
        class="extra-small-img"
        src="../assets/default-avatar.png"
        alt="Avatar Extra Small"
      />
      <img
        class="small-img"
        src="../assets/default-avatar.png"
        alt="Avatar Small"
      />
      <img
        class="medium-img"
        src="../assets/default-avatar.png"
        alt="Avatar Medium"
      />

      <img
        class="large-img"
        src="../assets/default-avatar.png"
        alt="Avatar Large"
      />
    </div>

    <!-- Avatar Variants -->
    <div class="avatar-variants">
      <img
        class="avatar-square"
        src="../assets/avatar-square.jpg"
        alt="Avatar Extra Small"
      />
      <img
        class="small-img"
        src="../assets/default-avatar.png"
        alt="Avatar Small"
      />
    </div>
  </body>
</html>
